description K8s Mesh Config

<administrator>
  name       Dmitry Mishin
  email      dmishin@sdsc.edu
</administrator>

{{ range $orgkey, $org := .Organizations }}

<organization>
    description     {{$org.Description}}
    <measurement_archive>
        type              perfsonarbuoy/bwctl
        read_url          {{$org.PerfsonarURL}}
        write_url         {{$org.PerfsonarURL}}
    </measurement_archive>
    <measurement_archive>
        type              perfsonarbuoy/owamp
        read_url          {{$org.PerfsonarURL}}
        write_url         {{$org.PerfsonarURL}}
    </measurement_archive>
    <measurement_archive>
        type              traceroute
        read_url          {{$org.PerfsonarURL}}
        write_url         {{$org.PerfsonarURL}}
    </measurement_archive>

    <site>

      <location>
        latitude   {{$org.Site.Lat}}
        longitude  {{$org.Site.Lon}}
        city   {{$org.Site.City}}
        state  {{$org.Site.State}}
      </location>

      {{ range $hind, $host :=  $org.Site.Host }}
      <host>
        description {{$host.Description}}
        {{ range $host.IP }}
          <address>
            address {{.}}
          </address>
        {{end}}
        {{ range $host.IPh }}
          <address>
            address {{.}}
            pscheduler_address {{.}}:8443
          </address>
        {{end}}
      </host>
      {{end}}
    </site>
</organization>

{{end}}

<test_spec bwctl_test>
  type              perfsonarbuoy/bwctl  # Perform a bwctl test (i.e. achievable bandwidth)
  tool              bwctl/iperf3         # Use 'iperf' to do the bandwidth test
  protocol          tcp                  # Run a TCP bandwidth test
  interval          10800                # Run the test every 3 hours
  duration          20                   # Perform a 20 second test
  force_bidirectional 1                  # do bidirectional test
  random_start_percentage 10             # randomize start time
  omit_interval     5                    # ignore first few seconds of test
</test_spec>

<test_spec owamp_test>
  type              perfsonarbuoy/owamp  # Perform a constant low-bandwidth OWAMP test
  packet_interval   0.1                  # Send 10 packets every second (i.e. pause 0.1 seconds between each packet)
  loss_threshold    10                   # Wait no more than 10 seconds for a response
  session_count     10800                # Refresh the test every half hour (once every 18000 packets)
  sample_count      600                  # Send results back every 60 seconds (once every 600 packets)
  packet_padding    0                    # The size of the packets (not including the IP/UDP headers)
  bucket_width      0.0001               # The granularity of the measurements
  force_bidirectional 1                  # do bidirectional test
</test_spec>

<test_spec traceroute_test>
  type              traceroute
  test_interval   600
  packet_size       40
</test_spec>


<group k8s_group>
    type       mesh
    {{ range .BWIPs }}
      member {{.}}
    {{end}}
</group>

<group k8s_trace_group>
    type       mesh
    {{ range .TraceIPs }}
      member {{.}}
    {{end}}
</group>

<test>
  description       K8s Throughput Testing
  group             k8s_group
  test_spec         bwctl_test
</test>

<test>
  description       K8s OWAMP Testing
  group             k8s_group
  test_spec         owamp_test
</test>

<test>
  description       K8s traceroute Testing
  group             k8s_trace_group
  test_spec         traceroute_test
</test>
